*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}

.flex{
    display: flex;
    &__jcc{
        justify-content: center;
    }
    &__aic{
        align-items: center;
    }
}


.home{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    position: relative;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        height: 100vh;
        width: 25%;
        background: rgba(0, 0, 0, 0.137);
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }

    &::after{
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        height: 100vh;
        width: 25%;
        background: rgba(0, 0, 0, 0.137);
        clip-path: polygon(100% 0, 0 0, 100% 100%);
    }

    .heading{
        font-size: 40px;
        color: chocolate;
        width: 60%;
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .para{
        width: 50%;
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
        opacity: .6;
        margin-bottom:50px;
    }
    .btn{
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px 20px;
        background-color: chocolate;
        color: white;
        border: 1px solid chocolate;

        &:hover{
            color: chocolate;
            background-color: white;
        }
    }
}

.works{
    height: 100vh;
    width: 100%;
    .heading{
        width: 500px;
        text-align: center;
        padding: 50px 0;
        font-size: 40px;
        text-transform: uppercase;
        color: chocolate;
        position: relative;
        margin: auto auto;

        &::before{
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            content: "";
            height: 5px;
            width: 30px;
            background-color: chocolate;
        }
        &::after{
            position: absolute;
            top: 50%;
            right: 50px;
            transform: translateY(-50%);
            content: "";
            height: 5px;
            width: 30px;
            background-color: chocolate;
        }
    }
    .services{
        height: calc(100vh - 145px);

        .work{
            text-align: center;
            width: 350px;
            min-height: 300px;
            padding: 50px;
            border-radius: 5px;
            box-shadow: 0px 0px 15px rgba(210, 105, 30, 0.438);

            &:not(:last-child){
                margin-right: 50px;
            }

            .w__h{
                margin-bottom: 30px;
                text-transform: uppercase;
                color: rgba(210, 105, 30, 0.534);
            }
            .w__p{
                font-size: 18px;
                opacity: .7;
                margin-bottom: 50px;
            }
            .w__btn{
                color: black;
                background-color: white;
                border: 1px solid black;
                padding: 10px 20px;
                border-radius: 5px;
            }
        }
    }
}