*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &::before{
        position: absolute;
        content: "";
        height: 100vh;
        width: 100%;
        background: rgb(50, 82, 170);
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        z-index: -1;

    }

    form{
        background-color: rgba(255, 255, 255, 0.315);
        width: 400px;
        padding: 100px 50px;
        border-radius: 5px;
        backdrop-filter: blur(10px);
        border: 1px solid white;
        .heading{
            margin-bottom: 30px;
            color: white;
        }

        .input__form{
            #username,
            #password{
                width: 100%;
                padding: 10px 20px;
                font-size: 18px;
                margin-bottom: 20px;
                background: none;
                border:none;
                border-bottom: 1px solid white;
                outline: none;
                color: white;
                
                &::placeholder{
                    opacity: .2;
                    color: white;
                }
            }
        }
        .btn{
            padding: 10px 20px;
            font-size: 18px;
            border: 1px solid white;
            outline: none;
            cursor: pointer;
            background: none;
            color: white;
            transition: all .2s ease-in-out;
            
            &:hover{
                background: white;
                color: black;
            }
        }
    }
}